html {
  background-color: #fcf5c9;
  width: 79.8em;
  
}
body{
  padding-left: 10em;
  padding-right: 10em;
}
header{
  border: 10px solid black;
  padding-left: 10em;
  padding-right: 10em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #fcf5c9;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
