body {
  width: 60em;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #fcf5c9;
  background-size: 100%;
  border: 1px dotted blue;
}
header{
  border: 10px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #fcf5c9;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
